html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 1200px;
    display: flex;
    overflow: hidden;
}

.left-content {
    display: inline-block;
    width: 20%;
    padding: 0 10px 10px;
    background-color: rgba(191, 191, 191, 0.15);
    box-shadow: -5px 0px 14px -8px rgba(0, 0, 0, 0.25) inset;
}

.right-content {
    right: 0;
    width: 95%;
    left: 220px;
    top: 0;
    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
}

.container {
    min-height: 530px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    width: 100%;
    min-width: 100%;
}

.dx-field {
    margin-top: 5px;
}

.sub-title {
    height: 50%;
}

#output textarea {
    font-size: 24px;
    color: red;
}

#query-text textarea {
    font-size: 24px;
    font-weight: 400;
}